[submodule "libs/SMCKit"]
	path = libs/SMCKit
	url = git@github.com:blorm/SMCKit.git
[submodule "libs/SystemKit"]
	path = libs/SystemKit
	url = git@github.com:blorm/SystemKit.git
[submodule "libs/CommandLine"]
	path = libs/CommandLine
	url = git@github.com:blorm/CommandLine.git
